<link rel='stylesheet' href='/wp-content/plugins/chainsaw-dashboard/css/chainsaw-dashboard.css' type='text/css' media='all' />
<div class="wrap">
	<h2>{{site.name}} Dashboard</h2>

	<i class="fa fa-bookmark"></i> fa-bookmark <h3>Where do you want to start?</h3>

	<ul>
		{% for brick in bricks %}
			<li class="dashboard-brick">
			<div class="dashicons {{brick.icon}}"></div>
			<h4>{{brick.label}}</h4>
			<ul>
				{% for link in brick.links %}
					{% if '{{' in link.url %}
						<li><a href="{{include(template_from_string(link.url))}}">{{link.label}}</a></li>
					{% else %}
						<li><a href="{{link.url}}">{{link.label}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</div>
