<link rel='stylesheet' href='/wp-content/plugins/chainsaw-dashboard/css/chainsaw-dashboard.css' type='text/css' media='all' />
<div class="wrap">
	<h2>{{site.name}} Dashboard</h2>
	<div class= "intro-line"><h3>Where do you want to start?</h3></div>

	<ul>
		{% for brick in bricks %}

		<div class="dashboard-panel">
			
			<div class="panel-content">
			<li class="dashboard-brick">
			   <div class="topline"><i class="icon fa {{brick.icon}}"></i><span class="panel-headline"> {{brick.label}}</span></div>
			   <hr class = "seperator">
				<div class="inpanel-links" >
					<ul>
						{% for link in brick.links %}
							{% if '{{' in link.url %}
								<li><i class="bullet-square fa fa-square"></i><a class="control-links" href="{{include(template_from_string(link.url))}}">{{link.label}}</a></li>
							{% else %}
								<li><i class="bullet-square fa fa-square"></i><a class="control-links" href="{{link.url}}">{{link.label}}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</li>
			</div>
		</div>


		{% endfor %}
	</ul>

	<div class= "intro-line"><h3>Need some help? </h3></div>

</div>
