<div class="wrap">
	<h2>{{site.name}} Dashboard</h2>

	<h3>Where do you want to start?</h3>

	<ul>
		{% for brick in bricks %}
			<li class="dashboard-brick">
			<div class="dashicons {{brick.icon}}"></div>
			<h4>{{brick.label}}</h4>
			<ul>
				{% for link in brick.links %}
					<li><a href="{{link.url}}">{{link.label}}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</div>